@import "../../styles/theme.less";

@order-prefix: order;
@order-time-pos: 200px;
@order-status-icon: 111px;

.@{order-prefix} {
  background-color: #F2F2F2;
  &-area {
    height: 50px;
    width: 750px;
  }
  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 180px;
    width: 100%;
    background-color: @theme-color;
  }
  &-box {
    position: relative;
    z-index: 100;
  }
  &-search {
    width: 690px !important;
  }
  &-container {
    position: absolute;
    top: 60px + 20px + 20px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 690px;
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .margin(30px, l);
  }
  &-header {
    .margin(20px, tb);
    .margin(30px, lr);
  }
  &-time {
    position: relative;
    .flex(center, center, row) !important;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid  #e3e3e3;
    &-date {
      .margin(30px, lr);
      min-width: 160px;
      color: #4d4d4d;
      font-size: 28px;
      .flex(center, center, row);
    }
    &-box {
      position: absolute;
      top: 0;
      bottom: 0;
      .flex(center, center);
      .padding(30px, lr);
      &-left {
        left: 0;
      }
      &-right {
        right: 0
      }
    }
    &-text {
      color: #666666;
      font-size: 30px;
    }
    &-icon {
      width: 10px;
      height: 18px;
    }
    &-wid {
      .margin(11px, l);
      height: 10px;
      width: 18px;
    }
    &-rili {
      width: 30px;
      height: 29px;
      .margin(12px, r);
    }
  }
  &-list {
    height: 100%;
    &-pos {
      position: absolute;
      top: 100px;
      bottom: 0;
    }
    &-item {
      width: 100%;
      .padding(40px, l);
      .padding(30px, r);
      .padding(32px, tb);
      .flex(center, space-between, row);
      border-bottom: 1px solid  #e3e3e3;
    }
    &-top {
      border-radius: 20px 20px 0 0;
    }
    &-bottom {
      border-radius: 0 0 20px 20px;
      .margin(30px, b);
    }
    &-empty {
      .padding(250px, b);
    }
  }

  &-detail {
    &-bg {
      .background-image('//net.huanmusic.com/weapp/bg_home.png');
      width: 100%;
      height: 260px;
    }
    &-container {
      .margin(-220px, t);
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    &-status {
      .flex(center, flex-start, row);
      .padding(30px, b);
      .margin(30px, l);
      &-icon {
        width: @order-status-icon;
        height: @order-status-icon;
        .margin(20px, r);
      }
      &-purchase {
        width: 92px;
        height: 92px;
        .margin(20px, r);
      }
      &-copy {
        width: 22px;
        height: 23px;
        .margin(11px, l);
      }
      &-detail {
        display: flex;
        flex-direction: column;
        color: #ffffff;
        &-box {
          display: flex;
          flex-direction: row;
          align-items: center;
        }
      }
      &-result {
        font-size: 34px;
      }
      &-time {
        font-size: 26px;
      }
    }
    &-cards {
      .margin(30px, l);
      width: 690px;
    }
  }
}