@import "../../styles/theme.less";

@form-prefix: component-form;
@form-input-width: 300px;

.@{form-prefix} {
  .margin(10px, t);
  .theme-card;
  &-buttons {
    .flex(center, center);
  }
  &-shadow {
    box-sizing: border-box;
    .theme-shadow;
  }
  &-input {
    width: @form-input-width;
  }
  &-price {
    font-size: 26px;
    color: #FC4E44;
    padding-right: 18px;
  }
}