@import "../../../styles/theme.less";

@member-prefix: member;
@member-card-width: 690px;
@member-avator-size: 150px;
@member-search-icon-size: 28px;
@member-scan-icon-size: 40px;
@member-search-add-icon-size: 40px;
@member-search-input-font-size: 26px;
@member-search-zindex: 99;
@member-list-loading-size: 100px;
@member-header-bg-size: 166px;
@member-header-size: @member-header-bg-size - 66px;

.@{member-prefix} {
  .padding(30px, lr);
  position: relative;
  &-pos {
    margin-top: -150px;
  }
  &-bg {
    height: 255px;
    width: 100%;
    &-color {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 166px;
      width: 100%;
      background-color: @theme-color;
    }
  }
  &-card {
    position: relative;
    background-color: #ffffff;
    &-header {
      .flex(center, center, row);
      .padding(25px, tb);
      font-size: 24px;
      color: #cccccc;
    }
  }
  &-buttons {
    .padding(15px, tb);
    &-button {
      flex: 1;
      .flex(center, center, column);
    }
  }
  &-detail {
    .flex(center, center, column);
    .padding((@member-avator-size / 3) + 20px, t);
    &-img {
      position: absolute;
      left: (@member-card-width - @member-avator-size) / 2;
      top: -(@member-avator-size / 2);
      .theme-shadow();
      border-radius: @member-avator-size / 2;
    }
    &-avator {
      width: 150px;
      height: 150px;
    }
    &-row {
      &-icons {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        max-width: 300px;
      }
      &-icon {
        border-radius: 10px;
        background-color: #9DC8FF;
        .padding(7px, tb);
        .padding(16px, lr);
        font-size: 18px;
        color: #ffffff;
        .margin(5px, l);
        .margin(5px, b);
      }
    }
  }
  &-edit {
    .margin(80px, t);
  }
  &-main {
    display: flex;
    flex-direction: column;
    position: relative;
    &-header {
      // z-index: @member-search-zindex + 100;
      .padding(20px, tb);
      .padding(30px, lr);
      position: fixed;
      .flex(center, space-between, row);
      top: 0;
      left: 0;
      right: 0;
      &-add {
        z-index: @member-search-zindex;
        .flex(center, center, row);
        &-icon {
          width: @member-search-add-icon-size;
          height: @member-search-add-icon-size;
          .margin(4px, r);
        }
        &-text {
          font-size: @member-search-icon-size;
          color: #ffffff;
        }
      }
      &-search {
        z-index: @member-search-zindex + 100;
        width: 580px;
        height: 60px;
        border-radius: 30px;
        background-color: #ffffff;
        .flex(center, center, row);
        &-icon {
          width: @member-search-icon-size;
          height: @member-search-icon-size;
          .margin(15px, r);
        }
        &-scan {
          width: @member-scan-icon-size;
          height: @member-scan-icon-size;
        }
        &-input {
          font-size: @member-search-input-font-size;
          color: @base-font-color;
          width: 520px - 50px - @member-scan-icon-size;
          &-holder {
            color: @placeholer-text-color;
          }
        }
      }
    }
  }
  &-list {
    flex: 1;
    &-container {
      position: absolute;
      top: @member-header-size;
      width: 100%;
    }
  }
  &-loading {
    position: relative;
    width: 100%;
    height: @member-list-loading-size;
  }
}