@import "../../../styles/theme.less";
@import "../../../component/cart/cart.less";
@import "../../member/style/member.less";
@import "../../home/style/home.less";

@product-prefix: product;
@product-search-width: 550px;
@product-header-height: 20px + 20px + 60px;
@product-header-zindex: 100;
@product-list-left-bg-color: #f6f6f6;
@product-list-type-height: 94px;
@product-list-type-header-font: 28px;
@product-section-color: #F8F8FA;
@product-select-title-font: 32px;
@product-pay-footer-right: 410px;

.@{product-prefix} {
  display: flex;
  flex-direction: column;
  position: relative;
  &-header {
    z-index: @product-header-zindex;
    position: fixed;
    background-color: @theme-color;
    .flex(center, space-between, row);
    .padding(20px);
    top: 0;
    left: 0;
    right: 0;
    &-button {
      color: @theme-color;
      background-color: #ffffff;
      height: 60px;
      .padding(18px, lr);
      .flex(center, center);
      border-radius: 30px;
      font-size: @normal-text-fontsize;
    }
    &-search {
      width: @product-search-width !important;
    }
    &-item {
      .flex(center, center, column);
      &-icon {
        width: 34px;
        height: 34px;
      }
      &-text {
        font-size: 24px;
        color: #ffffff;
      }
    }
  }
  &-list {
    &-container {
      position: absolute;
      top: @product-header-height;
      bottom: @cart-height + 10px;
      width: 100%;
      display: flex;
      flex-direction: row;
    }
    &-left {
      width: 150px;
      display: flex;
      flex-direction: column;
      background-color: @product-list-left-bg-color;
      &-item {
        .flex(center, center, row);
        position: relative;
        height: @product-list-type-height;
        color: @base-font-color;
        font-size: @normal-text-fontsize;
        &-active {
          background-color: #ffffff;
          &-bge {
            position: absolute;
            height: @product-list-type-height;
            width: 2px;
            left: 0;
            top: 0;
            bottom: 0;
            background-color: @theme-color;
          }
        }
      }
    }
    &-right {
      display: flex;
      flex-direction: column;
      flex: 1;
      &-header {
        .padding(20px);
        display: flex;
        flex-direction: row;
        align-items: center;
        &-bge {
          background-color: @theme-color;
          width: 2px;
          height: 28px;
          .margin(10px, r);
        }
        &-text {
          font-size: @product-list-type-header-font;
          color: @base-font-color;
          font-weight: bold;         
        }
      }
    }
    &-section {
      background-color: @product-section-color;
      .padding(20px, tb);
      .padding(25px, lr);
      .flex(center, flex-start, row);
      &-icon {
        height: 28px;
        width: 4px;
        background-color: @theme-color;
        .margin(12px, r);
      }
      &-title {
        font-size: 32px;
        color: @base-font-color;
        font-weight: bold;
      }
    }
  }
  &-select {
    &-header {
      position: relative;
      font-size: 38px;
      color: @base-font-color;
      font-weight: bold;
      .padding(40px, t);
      .flex(center, center, row);
      &-close {
        position: absolute;
        left: 56px;
        top: 44px;
        width: 24px;
        height: 24px;
        &-image {
          width: 100%;
          height: 100%;
        }
      }
    }
    &-content {
      display: flex;
      flex-direction: column;
      .padding(35px, lr);
      &-item {
        display: flex;
        flex-direction: column;
        .padding(40px, tb);
        &-title {
          font-size: @product-select-title-font;
          color: @base-font-color;
          font-weight: bold;
        }
        &-buttons {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          .margin(50px, b);
        }
      }
    }
    &-border {
      border-bottom: 1px solid #f9f9f9;;
    }
    &-form {
      .flex(center, space-around, row);
      .margin(35px, t);
    }
  }

  &-detail {
    &-cover {
      width: 100%;
      height: 380px;
      &-image {
        width: 100%;
        height: 100%;
      }
    }
    &-list {
      width: 100%;
      .padding(30px, lr);
      .padding(20px, t);
    }
    &-submit {
      .margin(60px, tb);
    }
    &-modal {
      position: relative;
      display: flex;
      flex-direction: column;
      flex: 1;
      &-text {
        font-size: 26px;
        color: @base-font-color;
        .margin(26px, b);
      }
      &-close {
        position: absolute;
        left: 60px;
        top: 50px;
        width: 24px;
        height: 24px;
        &-image {
          width: 100%;
          height: 100%;
        }
      }
      &-change {
        position: absolute;
        right: 47px;
        top: 50px;
        &-text {
          background-color: @theme-color;
          color: #ffffff;
          font-size: 28px;
          .padding(13px, tb);
          .padding(30px, lr);
          border-radius: 20px;
        }
      }
    }
  }
  &-add {
    &-buttons {
      .margin(60px, tb);
      .flex(center, space-between, row);
      &-button {
        width: 320px;
      }
    }
  }
  &-manage {
    &-list {
      position: absolute;
      top: @product-header-height;
      width: 100%;
      &-container {
        display: flex;
        flex-direction: column;
        flex: 1;
      }
    }
  }
  
  &-pay {
    .padding(20px);
    &-card {
      .margin(20px, t);
    }
    &-container {
      .padding(@cart-height + 50px, b);
      // position: absolute;
      // top: 0;
      // bottom: @cart-height + 10px;
      // width: 100%;
      // display: flex;
      // flex-direction: column;
    }
    &-list {
      .padding(20px);
      // display: flex;
      // flex: 1;
      // .padding(30px, lr);
    }
    &-footer {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 999;
      &-bg {
        position: relative;
        .padding(@product-pay-footer-right, r);
        width: 750px;
        height: @cart-height;
        .background-image('//net.huanmusic.com/weapp/bmg_bottom_close.png');
      }
      &-right {
        position: absolute;
        right: 0;
        bottom: 0;
        width: @product-pay-footer-right;
        height: 100%;
        .flex(center, center, column);
        color: #ffffff;
        font-size: @cart-button-font;
        &-disabled {
          .background-image('//net.huanmusic.com/weapp/bt_put_bottom_close_und.png');
        }
        &-active {
          .background-image('//net.huanmusic.com/weapp/bt_put_bottom_close_pitch.png');
        }
      }
      &-left {
        .flex(center, space-around);
        height: 100%;
        &-item {
          .flex(center, center, column);
          &-icon {
            width: 35px;
            height: 35px;
          }
          &-font {
            font-size: 26px;
            color: #ffffff;
            .margin(7px, t);
          }
        }
      }
    }
    &-member {
      &-input {
        .padding(30px);
        .flex(center, space-between, row);
        &-icon {
          width: 40px;
          height: 40px;
          &-img {
            width: 100%;
            height: 100%;
          }
        }
        &-box {
          width: 320px;
          font-size: 26px;
        }
      }
      &-layout {
        z-index: 1200;
        &-container {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        &-card {
          .margin(150px, t);
          &-row {
            .padding(24px);
            color: #666666;
            display: flex;
            font-size: 26px;
            flex-direction: column;
            &-text {
              .margin(24px, b);
            }
            &-icons {
              max-width: 600px !important;
            }
          }
        }
      }
    }
  }
  &-row {
    .padding(24px, tb);
    .padding(40px, lr);
    &-icon {
      .margin(16px, lr);
      .padding(3px, tb);
      .padding(16px, lr);
      color: #ffffff;
      font-size: 20px;
      border-radius: 10px;
      &-member {
        background-color: #CCAE80;
      }
    }
    &-line {
      text-decoration: line-through;
    }
    &-border {
      border-bottom: 1PX solid #d6e4ef;
    }
    &-normal {
      font-size: 26px;
      color: @base-font-color;
    }
    &-name {
      font-size: 30px;
      color: #444444;
      max-width: 400px;
    }
    &-price {
      font-size: 26px;
      color: #fc4e44;
    }
    &-content {
      display: flex;
      flex-direction: column;
      &-item {
        .flex(center, space-between, row);
      }
      &-items {
        .flex(center, center, row);
      }
      &-top {
        .margin(20px, t);
      }
    }
  }
}